:root {
  font-family: 'Trebuchet MS', 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #22303c;
  background: linear-gradient(180deg, #f4f7fb 0%, #e8eef7 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
